@font-face {
  font-family: 'icons';
  src:  url('@/assets/img/fonts/icons.eot?ueld2t');
  src:  url('@/assets/img/fonts/icons.eot?ueld2t#iefix') format('embedded-opentype'),
    url('@/assets/img/fonts/icons.ttf?ueld2t') format('truetype'),
    url('@/assets/img/fonts/icons.woff?ueld2t') format('woff'),
    url('@/assets/img/fonts/icons.svg?ueld2t#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-like-active .path1:before {
  content: "\e900";
  color: rgb(254, 240, 240);
}
._icon-like-active .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 133, 133);
}
._icon-like-active .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 133, 133);
}
._icon-like-disable .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
._icon-like-disable .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
._icon-like-disable .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(236, 236, 236);
}
._icon-nlike-active .path1:before {
  content: "\e906";
  color: rgb(255, 199, 199);
}
._icon-nlike-active .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 111, 111);
}
._icon-nlike-disable .path1:before {
  content: "\e90d";
  color: rgb(231, 246, 255);
}
._icon-nlike-disable .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(222, 222, 222);
}
._icon-nlike-disable .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
._icon-nlike-disable .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(224, 224, 224);
}
._icon-arrow-down:before {
  content: "\e907";
}
._icon-arrow-up:before {
  content: "\e908";
}
._icon-avatar:before {
  content: "\e909";
}
._icon-cross:before {
  content: "\e90a";
}
._icon-logo:before {
  content: "\e90b";
}
