@import './normalize';
@import './iconsfont';
@import './variables';
@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  //Общие стили
  font-family: 'Inter', sans-serif;
}

body {
  background-color: $bgc;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 1100px;
  }
  @media (max-width: $md2) {
    max-width: 1000px;
  }
  @media (max-width: $md3) {
    max-width: 920px;
  }
  @media (max-width: $md4) {
    max-width: 880px;
  }
  @media (max-width: $md5) {
    max-width: 790px;
  }
  @media (max-width: $md6) {
    margin: 0 20px;
  }
}

._content {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: $md5) {
    flex-direction: column;
  }
}

._line {
  border: 1px solid #eaeaea;
}

button {
  cursor: pointer;
}
