//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200px;
$md1: $maxWidthContainer + 50;
$md2: 1160.98px;
$md3: 1055.98px;
$md4: 970.98px;
$md5: 930.98px;
$md6: 830.98px;
$md7: 730.68px;
$md8: 600.68px;
$md9: 470.68px;
