//</Цвета - основные>=======================================================================================
$black: #000;
$gray: #808080;
$mgray: #9b9b9b;
$silver: #c0c0c0;
$white: #fff;
$purple: #800080;
$fuchsia: #ff00ff;
$red: #ff0000;
$maroon: #800000;
$yellow: #ffff00;
$olive: #808000;
$lime: #00ff00;
$green: #008000;
$aqua: #00ffff;
$teal: #008080;
$blue: #009fff;
$navy: #000080;
$bgc: #e7f6ff;
//</Цвета - пользователя>=======================================================================================
$chocolate: #8b4513;
$vblue: #006699;
$vspay: #5a5a5a;
$vfont1: #333333;
$vfont2: #444444;
$vfont3: #666666;
//</Индекс>=======================================================================================
// $z-index-{для чего}: ;
$z-index-slider: 996;
$z-index-slider_img: 997;
$z-index-slider_title: 998;
$z-index-slider_button: 998;
$z-index-sub-header: 999;
$z-index-header: 1000;
$z-index-burger: 1001;
$z-index-burger_span: 1002;
