<template>
  <personal-account></personal-account>
</template>

<script>
import PersonalAccount from '@/components/PersonalAccount'
export default {
  components: {
    PersonalAccount,
  },
}
</script>

<style></style>
