<template>
  <one-block :title="this.title">
    Любой желающий может разместить рекламу на сайте VIPREKLAMA 1. Баннер 728x90
    под шапкой. Стоимость размещения - 250 руб. в неделю Минимальный заказ на 2
    недели Смотрите пример на фото
  </one-block>
</template>

<script>
import OneBlock from '@/components/OneBlock'
export default {
  components: {
    OneBlock,
  },
  data() {
    return {
      title: 'Реклама',
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
</style>
