<template>
  <slider-swiper></slider-swiper>
  <div class="_content">
    <new-offers
      v-if="posts"
      :posts="posts"
      :button="button"
      @fetchPosts="fetchPosts"
    ></new-offers>
    <news-tags></news-tags>
  </div>
</template>

<script>
import SliderSwiper from '@/components/SliderSwiper'
import NewOffers from '@/components/AdsOffers.vue'
import NewsTags from '@/components/NewsTags.vue'
import axios from 'axios'
export default {
  name: ['category'],
  data() {
    return {
      posts: [],
      offset: 0,
      limit: 4,
      button: true,
    }
  },
  components: {
    SliderSwiper,
    NewOffers,
    NewsTags,
  },
  mounted() {
    this.fetchPosts()
  },
  watch: {
    $route() {
      this.posts = []
      this.offset = 0
      this.limit = 4
      this.button = true
      this.fetchPosts()
    },
  },
  methods: {
    async fetchPosts() {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/v1/get_posts',
          {
            params: {
              offset: this.offset,
              limit: this.limit,
              category: this.$route.params.category,
            },
          }
        )
        this.posts = [...this.posts, ...response.data.posts]
        if (response.data.count <= this.posts.length) {
          this.button = false
        } else {
          this.button = true
        }
        this.offset += 4
        this.limit += 4
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style></style>
