<template>
  <div class="_content">
    <new-offers
      v-if="posts"
      :posts="posts"
      :button="button"
      @addReaction="addReaction"
      @addBookmarks="addBookmarks"
      @fetchPosts="fetchPosts"
    ></new-offers>
    <news-tags></news-tags>
  </div>
</template>

<script>
import NewOffers from '@/components/NewsOffers.vue'
import NewsTags from '@/components/NewsTags.vue'
import axios from 'axios'
export default {
  data() {
    return {
      posts: [],
      offset: 0,
      limit: 4,
      button: true,
    }
  },
  components: {
    NewOffers,
    NewsTags,
  },
  created() {
    this.fetchPosts()
  },
  methods: {
    addReaction(reaction, index) {
      this.posts[index].like.count = reaction.like.count
      this.posts[index].dislike.count = reaction.dislike.count
      this.posts[index].dislike.reaction = reaction.dislike.reaction
      this.posts[index].like.reaction = reaction.like.reaction
    },
    addBookmarks(payload, index) {
      this.posts[index].bookmarks = payload.bookmarks
    },
    async fetchPosts() {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/v1/get_news',
          {
            params: {
              offset: this.offset,
              limit: this.limit,
              category: this.$route.params.category,
            },
          }
        )
        this.posts = [...this.posts, ...response.data.news]
        if (response.data.count <= this.posts.length) {
          this.button = false
        } else {
          this.button = true
        }
        this.offset += 4
        this.limit += 4
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style></style>
