<template>
  <offers-detail
    v-if="post"
    :post="post"
    @reLoad="reLoad"
    @deleteComment="deleteComment"
    @addReaction="addReaction"
    @addBookmarks="addBookmarks"
  ></offers-detail>
  <div v-else>Идет загрузка</div>
</template>

<script>
import OffersDetail from '@/components/OffersDetail'
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  components: {
    OffersDetail,
  },
  data() {
    return {
      post: null,
    }
  },
  methods: {
    async fetchPost() {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/v1/get_post',
          {
            params: {
              post_id: this.$route.params.id,
            },
          }
        )
        this.post = response.data
      } catch (e) {
        console.log(e)
      }
    },
    reLoad(comment) {
      this.post.comments.unshift(comment)
    },
    deleteComment(commentId) {
      this.post.comments.splice(commentId, 1)
    },
    addReaction(reaction) {
      this.post.like.count = reaction.like.count
      this.post.dislike.count = reaction.dislike.count
      this.post.dislike.reaction = reaction.dislike.reaction
      this.post.like.reaction = reaction.like.reaction
    },
    addBookmarks(payload) {
      this.post.bookmarks = payload.bookmarks
    },
  },
  created() {
    this.fetchPost()
  },
  computed: {
    ...mapState({
      user: (state) => state.auth.user,
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
@media (max-width: $md5) {
  .newstags {
    display: none;
  }
}
</style>
