<template>
  <div class="ads">
    <div class="ads__container">
      <div class="ads__body">
        <div v-if="result.erorr" class="ads__error">
          Ошибка:
          <span>{{ result.erorr }}</span>
        </div>
        <div v-else-if="result.success" class="ads__success">
          Успешно:
          <span>{{ result.success }}</span>
        </div>
        <div class="ads__title">Добавление объявления</div>
        <hr class="ads__line _line" />
        <div class="ads__form">
          <div class="ads__form-name">
            <div>Заголовок</div>
            <my-input
              v-model="post.title"
              placeholder="Заголовок"
              type="text"
            ></my-input>
          </div>
          <div class="ads__form-img">
            <div>Ссылка на изображение</div>
            <my-input
              v-model="post.img_url"
              type="text"
              placeholder="Ссылка на изображение"
            ></my-input>
          </div>
          <div class="ads__form-content">
            <div>Описание</div>
            <my-form v-model="post.content" type="text"></my-form>
          </div>
          <div class="ads__form-category">
            <div>Категория</div>
            <my-select v-model="post.category" :options="category"></my-select>
          </div>
          <button @click="addAds" class="ads__form-btn">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import MySelect from './UI/MySelect.vue'
export default {
  components: { MySelect },
  data() {
    return {
      post: {
        title: '',
        img_url: '',
        content: '',
        category: '',
      },
      category: null,
      result: {
        erorr: '',
        success: '',
      },
    }
  },
  mounted() {
    this.getCategory()
  },
  methods: {
    async addAds() {
      if (
        this.post.title != '' &&
        this.post.img_url != '' &&
        this.post.content != '' &&
        this.post.category != ''
      ) {
        try {
          await axios.post('http://127.0.0.1:8000/api/v1/add_ads', this.post)
          this.result.success = 'Объявление было добавлено!'
          this.post = {
            title: '',
            img_url: '',
            content: '',
            category: '',
          }
        } catch (e) {
          console.log(e)
        }
      } else {
        this.result.erorr = 'Не все поля были заполнены'
      }
    },
    async getCategory() {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/v1/get_category'
        )
        console.log(this.post)
        this.category = response.data
        console.log(response.data)
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.ads {
  // .ads__container
  &__container {
  }
  // .ads__body
  &__body {
    background-color: $white;
    width: 880px;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 15px 15px 25px 15px;
  }
  // .ads__error
  &__error {
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $red;
  }
  // .ads__success
  &__success {
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $green;
  }
  // .ads__title
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-bottom: 15px;
  }
  // .ads__line
  &__line {
  }
  // .ads__form
  &__form {
    margin-top: 15px;
  }
  // .ads__form-name
  &__form-name {
    margin-bottom: 15px;
    div {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 5px;
    }
  }
  // .ads__form-img
  &__form-img {
    margin-bottom: 15px;
    div {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 5px;
    }
  }
  // .ads__form-content
  &__form-content {
    margin-bottom: 15px;
    div {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 5px;
    }
  }
  // .ads__form-category
  &__form-category {
    margin-bottom: 15px;
    div {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 15px;
    }
  }
  // .ads__form-btn
  &__form-btn {
    // float: right;
    width: 160px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000000;
    transition: 0.5s all ease;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background: #e7f6ff;
      border: 1px solid #eaeaea;
    }
  }
}
</style>
