<template>
  <footer class="footer">© 2022 - все права защищены</footer>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/vars.scss';
.footer {
  padding: 20px 0;
  margin-top: 100px;
  background-color: $black;
  color: $white;
  text-align: center;
}
</style>
