<template>
  <div>
    <header class="header">
      <div class="header__wrapper">
        <div class="header__container _container">
          <div class="header__body">
            <div class="header__logo">
              <button @click="$router.push('/')">
                <img src="@/assets/img/svg/logo.svg" alt="logo" />
              </button>
            </div>
            <div class="header__menu menu">
              <nav
                class="menu__body"
                :class="{ 'menu__body-active': $store.state.nav.isActive }"
              >
                <ul class="menu__nav">
                  <li class="menu__list">
                    <button @click="$router.push('/')" class="menu__link link">
                      Главная
                    </button>
                  </li>
                  <li class="menu__list">
                    <button class="menu__link link">Проекты</button>
                    <button
                      type="button"
                      class="menu__arrow _icon-arrow-down"
                    ></button>
                    <ul class="link__sub-list">
                      <li
                        class="link__sub-item"
                        v-for="category in categories"
                        :key="category.id"
                      >
                        <button
                          @click="$router.push(`/category/${category.slug}`)"
                          class="link__sub-link"
                        >
                          {{ category.name }}
                        </button>
                      </li>
                    </ul>
                  </li>
                  <li class="menu__list">
                    <button
                      @click="$router.push('/news')"
                      class="menu__link link"
                    >
                      Новости
                    </button>
                  </li>
                  <li class="menu__list">
                    <button
                      @click="$router.push('/instructions')"
                      class="menu__link link"
                    >
                      Инструкции
                    </button>
                  </li>
                  <li class="menu__list">
                    <button
                      @click="$router.push('/about')"
                      class="menu__link link"
                    >
                      О нас
                    </button>
                  </li>
                  <li class="menu__list">
                    <button
                      @click="$router.push('/reklama')"
                      class="menu__link link"
                    >
                      Реклама
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header__user user">
              <button
                v-if="auth.credentials.isActive"
                class="user__account"
                @click="$router.push('/account')"
              >
                <div class="user__account-name">
                  <div class="user__account-register">
                    {{ auth.user.username }}
                  </div>
                </div>
                <div class="user__account-icon _icon-avatar"></div>
              </button>
              <button @click="showDialog" v-else class="user__account-auth">
                Авторизация
              </button>
              <my-dialog v-model:show="dialogVisibal">
                <user-form></user-form>
              </my-dialog>
            </div>
            <button
              @click="$store.commit('nav/openClosing')"
              class="menu__icon icon-menu"
              :class="{ _active: $store.state.nav.isActive }"
            >
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import UserForm from '@/components/UserForm'
import { mapState } from 'vuex'
export default {
  components: {
    UserForm,
  },
  data() {
    return {
      dialogVisibal: false,
    }
  },
  methods: {
    showDialog() {
      this.dialogVisibal = true
    },
  },
  computed: {
    ...mapState({
      auth: (state) => state.auth,
      categories: (state) => state.page.categories,
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  // .header__wrapper
  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: $white;
  }
  // .header__container
  &__container {
  }
  // .header__body
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: relative;
  }
  // .header__logo
  &__logo {
  }
  // .header__menu
  &__menu {
  }
  // .header__user
  &__user {
  }
}
.menu {
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
  }
  // .menu__nav
  &__nav {
    display: flex;
    flex-wrap: wrap;
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    margin-right: 35px;
    flex-wrap: wrap;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    @media (any-hover: hover) {
      &:hover {
        .link__sub-list {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link {
          color: $blue;
        }
      }
    }
    &._hover {
      .link__sub-list {
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
      .menu__arrow {
        transform: rotate(-180deg);
      }
      .menu__arrow,
      .menu__link {
        color: $white;
      }
    }
  }
  // .menu__link
  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
  // .menu__arrow
  &__arrow {
    margin: 1px 0px 0px 5px;
    transition: all 0.3s ease 0s;
    font-size: 8px;
    color: $black;
  }
}
.icon-menu {
  display: none;
}
.link {
  // .link__sub-list
  &__sub-list {
    position: absolute;
    background-color: #fff;
    min-width: max-content;
    top: 100%;
    opacity: 0;
    left: 0;
    visibility: hidden;
    transform: translate(0px, 50px);
    pointer-events: none;
    transition: all 0.3s ease 0s;
    z-index: 100;
    padding-top: 10px;
  }
  // .link__sub-item
  &__sub-item {
  }
  // .link__sub-link
  &__sub-link {
    position: relative;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin: 14px 14px;
    @media (any-hover: hover) {
      &:hover {
        color: $blue;

        &:after {
          display: none;
        }
      }
    }
  }
}
.user {
  // .user__account
  &__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mgray;
    &:hover {
      color: $blue;
    }
  }
  // .user__account-name
  &__account-name {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-right: 9px;
    width: 120px;
    overflow: hidden;
  }
  // .user__account-icon
  &__account-icon {
    font-size: 24px;
  }
  &__account-auth {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    @media (any-hover: hover) {
      &:hover {
        color: $blue;

        &:after {
          display: none;
        }
      }
    }
  }
}
@media (max-width: $md3) {
  .menu {
    &__list {
      margin-right: 25px;
    }

    &__link {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
@media (max-width: $md5) {
  .header {
    &__logo {
      position: relative;
      z-index: $z-index-burger;
    }
    &__user {
      z-index: $z-index-burger;
      margin-left: auto;
      margin-right: 20px;
    }
  } // TODO Доделать бургер меню для сайта
  .menu {
    &__body {
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      overflow: hidden;
      background-color: $white;
      padding: 90px 15px 30px 15px;
      &-active {
        left: 0;
      }
    }

    &__nav {
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    &__link {
      font-size: 22px;
      line-height: 21px;
    }

    &__list {
      margin: 0px 0px 25px 0px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .link {
    &__sub-link {
      font-size: 18px;
      margin: 20px 10px;
    }
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 26px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
</style>
