<template>
  <div class="offers">
    <div class="offers__container">
      <div class="offers__body">
        <div class="offers__title">Новые предложения</div>
        <hr class="offers__line" />
        <div
          class="offers__content"
          v-for="post in posts"
          :key="post.id"
          :post="post"
        >
          <div class="offers__new new">
            <div class="new__body">
              <div class="new__body-left left">
                <a
                  href="#"
                  @click="$router.push(`/ads/${post.id}`)"
                  class="left__img"
                >
                  <img :src="post.image" alt="Image" />
                </a>
              </div>
              <div class="new__body-right right">
                <div class="right__text">
                  <div
                    class="right__text-title"
                    @click="$router.push(`/ads/${post.id}`)"
                  >
                    {{ post.title }}
                  </div>
                  <div
                    class="right__text-description"
                    v-html="post.description"
                  ></div>
                </div>
                <div class="right__statics">
                  <div class="right__statics-left statics">
                    <div class="statics__date text-statics">
                      {{ post.created_date }}
                    </div>
                    <div class="statics__views text-statics">
                      {{ post.views }}
                    </div>
                    <div class="statics__comments text-statics">
                      {{ post.count_comments }}
                    </div>
                  </div>
                  <div class="right__statics-right statics">
                    <button
                      @click="$router.push(`/ads/${post.id}`)"
                      class="statics__read text-statics"
                    >
                      Читать далее
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offers__btn">
          <button v-if="button" @click="fetchPosts">Загрузить еще</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    posts: {
      type: Array,
      required: true,
    },
    button: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    async addReaction(reaction, index) {
      if (this.$store.state.auth.credentials.isActive) {
        const post = this.posts[index]
        if (post.like.reaction === true && reaction === 'LK') {
          return
        }
        if (post.dislike.reaction === true && reaction === 'DK') {
          return
        }
        try {
          const response = await axios.get(
            'http://127.0.0.1:8000/api/v1/add_reaction',
            {
              params: {
                post_id: post.id,
                reaction: reaction,
              },
            }
          )
          this.$emit('addReaction', response.data, index)
        } catch (e) {
          console.log(e)
        }
      }
    },
    async addBookmarks(index) {
      if (this.$store.state.auth.credentials.isActive) {
        try {
          const response = await axios.get(
            'http://127.0.0.1:8000/api/v1/add_bookmark',
            {
              params: {
                post_id: this.posts[index].id,
              },
            }
          )
          this.$emit('addBookmarks', response.data, index)
        } catch (e) {
          console.log(e)
        }
      }
    },
    fetchPosts() {
      this.$emit('fetchPosts')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';

.offers {
  // .offers__container
  &__container {
  }
  // .offers__body
  &__body {
    background-color: $white;
    width: 880px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding-bottom: 20px;
  }
  // .offers__title
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    padding: 18px 0 18px 28px;
  }
  // .offers__line
  &__line {
    border: 1px solid #eaeaea;
  }
  // .offers__new
  &__new {
  }
  // .offers__btn
  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    button {
      width: 180px;
      height: 50px;
      background-color: #fff;
      border: 1px solid #c0c0c0;
      border-radius: 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      transition: 0.5s all ease;
      &:hover {
        background: #e7f6ff;
        border: 1px solid #eaeaea;
      }
    }
  }
}
.new {
  // .new__body
  &__body {
    display: flex;
    margin: 20px 25px;
    width: 830px;
    height: 180px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
  }
  // .new__body-left
  &__body-left {
    position: relative;
    width: 260px;
    height: 174px;
    border-radius: 18px;
    overflow: hidden;
    margin: 2px 20px 2px 2px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .left__img-like {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      top: 0;
      right: 0;
      margin: 4px 4px 0 0;
      &.active {
        display: flex;
      }
    }
  }
  // .new__body-right
  &__body-right {
  }
}
.left {
  // .left__img
  &__img {
  }
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 0px 15px 0px;
  // .right__text
  &__text {
  }
  // .right__text-title
  &__text-title {
    cursor: pointer;
    width: 520px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  // .right__text-description
  &__text-description {
    overflow: hidden;
    // white-space: nowrap;
    width: 490px;
    height: 45px;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
  }
  // .right__statics
  &__statics {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  // .right__statics-left
  &__statics-left {
    display: flex;
    align-content: center;
  }
  // .right__statics-right
  &__statics-right {
    display: flex;
    align-content: center;
  }
}
.statics {
  // .statics__date
  &__date {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    background: url('@/assets/img/svg/date.svg') left no-repeat;
    margin-right: 9px;
  }
  // .statics__views
  &__views {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    margin-right: 9px;
    background: url('@/assets/img/svg/views.svg') left no-repeat;
  }
  // .statics__comments
  &__comments {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    margin-right: 9px;
    background: url('@/assets/img/svg/comment.svg') left no-repeat;
  }
  // .statics__like
  &__like {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    margin-right: 9px;
    background: url('@/assets/img/svg/like.svg') left no-repeat;

    &.active {
      color: #66af5a;
      background: url('@/assets/img/svg/like_active.svg') left no-repeat;
    }
  }
  // .statics__dislike
  &__dislike {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    margin-right: 9px;
    background: url('@/assets/img/svg/dislike.svg') left no-repeat;
    &.active {
      color: #ff8585;
      background: url('@/assets/img/svg/dislike_active.svg') left no-repeat;
    }
  }
  // .statics__read
  &__read {
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
}
.text-statics {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #808080;
}
@media (max-width: $md1) {
  .offers {
    &__body {
      width: 780px;
    }
  }
  .new {
    // .new__body
    &__body {
      width: 730px;
      height: 180px;
    }
    &__body-left {
      width: 240px;
    }
    &__body-right {
      width: 450px;
    }
  }
  .right {
    &__text-title {
      width: 100%;
    }
    &__text-description {
      width: 100%;
    }
  }
}
@media (max-width: $md2) {
  .offers {
    &__body {
      width: 715px;
    }
    &__title {
      padding-left: 20px;
    }
  }
  .new {
    // .new__body
    &__body {
      width: 683px;
      height: 180px;
      margin-left: 18px;
    }
    &__body-left {
      width: 235px;
    }
    &__body-right {
      width: 410px;
    }
  }
}
@media (max-width: $md3) {
  .offers {
    &__body {
      width: 660px;
    }
  }
  .new {
    // .new__body
    &__body {
      width: 626px;
    }
    &__body-left {
      width: 225px;
      margin-right: 10px;
    }
    &__body-right {
      width: 370px;
    }
  }
  .right {
    &__statics {
      align-items: end;
    }
    &__statics-left {
      flex-direction: column-reverse;
    }
  }
  .statics {
    // .statics__date
    &__date {
      margin-top: 5px;
    }
    // .statics__views
    &__views {
      margin-top: 5px;
    }
  }
}
@media (max-width: $md4) {
  .offers {
    &__body {
      width: 625px;
    }
  }
  .new {
    // .new__body
    &__body {
      width: 586px;
      height: 190px;
    }
    &__body-left {
      width: 220px;
      height: 98%;
      margin-right: 10px;
    }
    &__body-right {
      width: 340px;
      height: 100%;
    }
  }
  .right {
    // margin: 6px 0px 15px 0px;
    &__statics {
      align-items: end;
    }
    &__statics-left {
      flex-direction: column-reverse;
    }
  }
  .statics {
    // .statics__date
    &__date {
      margin-top: 2px;
    }
    // .statics__views
    &__views {
      margin-top: 2px;
    }
  }
}
@media (max-width: $md5) {
  .offers {
    width: 100%;
    &__body {
      width: 100%;
    }
  }
  .new {
    // .new__body
    &__body {
      width: 94.5%;
      height: 190px;
    }
    &__body-left {
      width: 31%;
      height: 98%;
      margin-right: 10px;
    }
    &__body-right {
      width: 65%;
      height: 100%;
    }
  }
  .right {
    // margin: 6px 0px 15px 0px;
    &__statics {
      align-items: center;
    }
    &__statics-left {
      flex-direction: row;
    }
  }
  .statics {
    // .statics__date
    &__date {
      margin-top: 2px;
    }
    // .statics__views
    &__views {
      margin-top: 2px;
    }
    &__comments {
      padding-top: 1px;
    }
  }
}
@media (max-width: $md5) {
  .new {
    // .new__body
    &__body {
      width: 94.5%;
      height: 190px;
    }
    &__body-left {
      width: 35%;
      height: 98%;
      margin-right: 10px;
    }
    &__body-right {
      width: 60%;
      height: 100%;
    }
  }
}
@media (max-width: $md7) {
  .right {
    &__text-description {
      padding-bottom: 10px;
    }
    &__statics {
      align-items: end;
    }
    &__statics-left {
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: $md8) {
  .new {
    // .new__body
    &__body {
      display: flex;
      flex-direction: column;
      width: 93%;
      height: 330px;
    }
    // .new__body-left
    &__body-left {
      margin-right: 0;
      width: 99%;
      height: 100%;
      border-radius: 0px;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }
    &__body-right {
      padding: 10px;
      width: 100%;
      height: 85%;
    }
  }
  .right {
    // margin: 6px 0px 15px 0px;
    &__statics {
      align-items: center;
    }
    &__statics-left {
      flex-direction: row;
    }
  }
  .statics {
    // .statics__date
    &__date {
      margin-top: 2px;
    }
    // .statics__views
    &__views {
      margin-top: 2px;
    }
    &__comments {
      padding-top: 1px;
    }
  }
}
@media (max-width: $md9) {
  .offers {
    &__title {
      font-size: 26px;
    }
  }
  .new {
    // .new__body
    &__body {
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 93%;
      height: 100%;
    }
    &__body-left {
    }
    &__body-right {
    }
  }
  .right {
    &__text-description {
      padding-bottom: 20px;
    }
    &__statics {
      align-items: end;
    }
    &__statics-left {
      flex-direction: column-reverse;
    }
    // .right__statics-right
    &__statics-right {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  .statics {
    // .statics__date
    &__date {
      margin-top: 5px;
    }
    // .statics__views
    &__views {
      margin-top: 6px;
    }
    &__dislike {
      margin-right: 0px;
    }
    &__like,
    &__dislike {
      flex: 0 0 25%;
    }
    &__read {
      margin-top: 13px;
      flex: 0 85% 0;
    }
  }
}
</style>
