<template>
  <div class="newstags">
    <div class="newstags__container">
      <div class="newstags__body">
        <div class="newstags__news news">
          <div class="news__body">
            <div class="news__title">Новости</div>
            <hr class="_line" />
            <div class="news__content">
              <button
                class="news__content-link"
                v-for="ne in news"
                :key="ne.id"
              >
                <img :src="ne.image" alt="news" class="news__content-img" />
                <div class="news__content-titel">
                  {{ ne.title }}
                </div>
              </button>
            </div>
            <hr class="_line" />
            <button class="news__banner">
              <img src="@/assets/img/svg/banners_news.svg" alt="banners_news" />
            </button>
          </div>
        </div>
        <div class="newstags__tags tags">
          <div class="tags__body">
            <div class="tags__title">Теги</div>
            <hr class="_line" />
            <div class="tags__content">
              <button
                class="tags__content-btn"
                v-for="tag in tags"
                :key="tag.id"
              >
                {{ tag }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      news: (state) => state.page.news,
      tags: (state) => state.page.tags,
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.newstags {
  // .newstags__container
  &__container {
  }
  // .newstags__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  // .newstags__news
  &__news {
  }
  // .newstags__tags
  &__tags {
  }
}
.news {
  // .news__body
  &__body {
    width: 276px;
    height: 589px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $white;
  }
  // .news__title
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    padding: 18px 0 18px 28px;
  }
  // .news__content
  &__content {
    margin: 20px 16px 20px 10px;
    // .news__content-link
    &-link {
      width: 250px;
      height: 80px;
      display: flex;
      align-items: center;
      margin-top: 15px;
    }

    // .news__content-img
    &-img {
      width: 118.47px;
      height: 80.31px;
      border-radius: 7px;
      margin-right: 9px;
      object-fit: cover;
    }

    // .news__content-titel
    &-titel {
      font-weight: 700;
      font-size: 11px;
      line-height: 12px;
      letter-spacing: 0.02em;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  // .news__line
  &__line {
  }
  // .news__banner
  &__banner {
    margin: 20px 12px 20px 14px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.tags {
  // .tags__body
  &__body {
    margin-top: 35px;
    width: 276px;
    padding-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  // .tags__title
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    padding: 19px 0px 18px 20px;
  }
  // .tags__content
  &__content {
    margin: 15px 0px 0px 15px;
  }
  // .tags__content-text
  &__content-btn {
    height: 24px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 3px 14px;
    margin: 7.5px 2.5px;
    background-color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000000;
    &:hover {
      background: #e7f6ff;
      border: 1px solid #eaeaea;
    }
  }
}
@media (max-width: $md2) {
  .news {
    // .news__body
    &__body {
      width: 256px;
      height: 569px;
    }
    &__banner {
      img {
        width: 230px;
        height: 230px;
      }
    }
  }
  .tags {
    // .news__body
    &__body {
      width: 256px;
    }
  }
}
@media (max-width: $md3) {
  .news {
    // .news__body
    &__body {
      width: 236px;
      height: 560px;
    }
    &__content {
      &-link {
        width: 215px;
        height: 85px;
      }
      // .news__content-img
      &-img {
        width: 100px;
        height: 85px;
      }
      // .news__content-titel
      &-titel {
        font-size: 10px;
      }
    }
    &__banner {
      margin-left: 12px;
      img {
        width: 210px;
        height: 210px;
      }
    }
  }
  .tags {
    // .news__body
    &__body {
      width: 236px;
    }
    &__content {
      margin: 12px 0px 0px 12px;
    }
  }
}
@media (max-width: $md5) {
  .newstags {
    width: 100%;
    margin-top: 25px;
    &__body {
      display: flex;
      flex-direction: row;
      align-self: start;
      justify-content: space-between;
      width: 100%;
    }
  }
  .news {
    // .news__body
    &__body {
      width: 376px;
      height: 569px;
    }
    &__content {
      padding: 0 17px;
      &-link {
        width: 330px;
        height: 80px;
      }
      &-img {
        width: 118.47px;
        height: 100%;
        border-radius: 7px;
        margin-right: 9px;
        object-fit: cover;
      }
      &-titel {
        font-weight: 700;
        font-size: 13px;
        line-height: 12px;
        letter-spacing: 0.02em;
      }
    }
    &__banner {
      img {
        width: 330px;
        height: 230px;
      }
      margin: 20px 28px 20px 28px;
    }
  }
  .tags {
    // .tags__body
    &__body {
      width: 300px;
      margin-top: 0;
    }
  }
}
@media (max-width: $md7) {
  .newstags {
    &__body {
      width: 100%;
      flex-direction: column;
    }
  }
  .news {
    &__body {
      width: 100%;
      height: 475px;
    }
    &__content {
      display: flex;
      flex-direction: row;
      &-link {
        margin-top: 0;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__banner {
      width: 91%;
      img {
        width: 100%;
        height: 230px;
      }
    }
  }
  .tags {
    margin-top: 25px;
    &__body {
      width: 100%;
    }
    &__title {
      padding: 18px 0 18px 28px;
    }
    &__content {
      margin: 0;
      padding: 18px 0 18px 28px;
    }
  }
}
@media (max-width: $md8) {
  .news {
    &__body {
      height: 580px;
    }
    &__title {
      padding: 20px 18px 20px 18px;
    }
    &__content {
      flex-direction: column;
      padding: 20px 18px 20px 18px;
      margin: 0;
      &-link {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__banner {
      margin: 20px 18px 20px 18px;
    }
  }
  .tags {
    &__body {
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
    }
    &__title {
      padding: 20px 18px 20px 18px;
    }
    &__content {
      padding: 20px 18px 20px 18px;
    }
  }
}
</style>
