<template>
  <div class="offers">
    <div class="offers__container">
      <div class="offers__body">
        <div class="offers__title">
          <div class="offers__title-user user">
            <a href="#" class="user__avatar">
              <div class="user__avatar-img">
                <img src="@/assets/img/svg/user_avatar.jpg" alt="" />
              </div>
              <div class="user__avatar-username">{{ post.username }}</div>
            </a>
            <button @click="addBookmarks" v-if="!post.bookmarks">
              <img
                src="@/assets/img/svg/offers_disable.svg"
                class="user__like"
                alt=""
              />
            </button>
            <button @click="addBookmarks" v-else>
              <img
                src="@/assets/img/svg/offers_active.svg"
                class="user__like"
                alt=""
              />
            </button>
          </div>
          <div class="offers__title-title">
            {{ post.title }}
          </div>
        </div>
        <hr class="offer__line _line" />
        <div class="offers__content">
          <div class="offers__content-img">
            <img :src="post.image" alt="" />
          </div>
          <div
            class="offers__content-description"
            v-html="post.description"
          ></div>
        </div>
        <hr class="offer__line _line" />
        <div class="offers__statics">
          <div class="offers__statics-left left-statics">
            <div class="left-statics__date">
              Дата публикации:
              <span>{{ post.created_date }}</span>
            </div>
            <div class="left-statics__vies">
              Кол-во просмотров:
              <span>{{ post.views }}</span>
            </div>
          </div>
          <div class="offers__statics-right right-statics">
            <div class="right-statics__comment text-statics">
              {{ post.comment_count }}
            </div>
            <button
              class="right-statics__like text-statics"
              :class="{
                active: post.like.reaction,
              }"
              @click="addReaction('LK')"
            >
              {{ post.like.count }}
            </button>
            <button
              class="right-statics__dislike text-statics"
              :class="{
                active: post.dislike.reaction,
              }"
              @click="addReaction('DK')"
            >
              {{ post.dislike.count }}
            </button>
          </div>
        </div>
        <hr class="offer__line _line" />
        <div class="offers__tags">
          Тэги:
          <span>YouTube, млм</span>
        </div>
        <div class="offers__banner">
          <img src="@/assets/img/svg/banners_offers.svg" alt="banners_news" />
        </div>
      </div>
    </div>
    <offers-comment
      :comments="post.comments"
      @reLoad="reLoad"
      @deleteComment="deleteComment"
    ></offers-comment>
  </div>
</template>

<script>
import OffersComment from '@/components/OffersComment'
import axios from 'axios'
export default {
  components: {
    OffersComment,
  },
  props: ['post'],
  methods: {
    reLoad(comment) {
      this.$emit('reLoad', comment)
    },
    deleteComment(commentId) {
      this.$emit('deleteComment', commentId)
    },
    async addReaction(reaction) {
      if (this.$store.state.auth.credentials.isActive) {
        if (this.post.like.reaction === true && reaction === 'LK') {
          return
        }
        if (this.post.dislike.reaction === true && reaction === 'DK') {
          return
        }
        try {
          const response = await axios.get(
            'http://127.0.0.1:8000/api/v1/add_reaction',
            {
              params: {
                post_id: this.$route.params.id,
                reaction: reaction,
              },
            }
          )
          this.$emit('addReaction', response.data)
        } catch (e) {
          console.log(e)
        }
      }
    },
    async addBookmarks() {
      if (this.$store.state.auth.credentials.isActive) {
        try {
          const response = await axios.get(
            'http://127.0.0.1:8000/api/v1/add_bookmark',
            {
              params: {
                post_id: this.$route.params.id,
              },
            }
          )
          this.$emit('addBookmarks', response.data)
        } catch (e) {
          console.log(e)
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.offers {
  // .offers__container
  &__container {
  }
  // .offers__body
  &__body {
    background-color: $white;
    width: 880px;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 15px 15px 25px 15px;
  }
  // .offers__title
  &__title {
  }
  // .offers__title-user
  &__title-user {
  }
  // .offers__title-title
  &__title-title {
    padding: 10px 0px 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }
  // .offers__content
  &__content {
  }
  // .offers__content-img
  &__content-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding-top: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .offers__content-description
  &__content-description {
    width: 100%;
    height: 100%;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  // .offers__statics
  &__statics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.02em;
    color: #808080;
  }
  // .offers__statics-left
  &__statics-left {
    display: flex;
    align-items: center;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.02em;
    }
  }
  // .offers__statics-right
  &__statics-right {
    display: flex;
    align-items: center;
  }
  // .offers__tags
  &__tags {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #000000;
    padding: 15px 0;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      letter-spacing: 0.02em;
    }
  }
  // .offers__banner
  &__banner {
    width: 100%;
    height: 120px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__line {
  }
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // .user__avatar
  &__avatar {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;

    color: #292929;
    &:hover {
      color: $blue;
    }
  }
  // .user__avatar-img
  &__avatar-img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .user__avatar-username
  &__avatar-username {
  }
  // .user__like
  &__like {
  }
}
.left-statics {
  // .left-statics__date
  &__date {
    margin-right: 15px;
  }
  // .left-statics__vies
  &__vies {
  }
}
.right-statics {
  // .right-statics__comment
  &__comment {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    background: url('@/assets/img/svg/comment.svg') left no-repeat;
  }
  // .right-statics__like
  &__like {
    height: 15px;
    padding: 0px 0px 0px 20px;
    display: inline-block;
    margin-left: 20px;
    background: url('@/assets/img/svg/like.svg') left no-repeat;

    &.active {
      color: #66af5a;
      background: url('@/assets/img/svg/like_active.svg') left no-repeat;
    }
  }
  // .statics__dislike
  &__dislike {
    height: 15px;
    padding: 0px 0px 0px 20px;
    display: inline-block;
    margin-left: 20px;
    background: url('@/assets/img/svg/dislike.svg') left no-repeat;
    &.active {
      color: #ff8585;
      background: url('@/assets/img/svg/dislike_active.svg') left no-repeat;
    }
  }
}
.text-statics {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #808080;
}
@media (max-width: $md1) {
  .offers {
    &__body {
      width: 780px;
    }
  }
}
@media (max-width: $md2) {
  .offers {
    &__body {
      width: 715px;
    }
  }
}
@media (max-width: $md3) {
  .offers {
    &__body {
      width: 660px;
    }
  }
}
@media (max-width: $md4) {
  .offers {
    &__body {
      width: 625px;
    }
  }
}
@media (max-width: $md5) {
  .offers {
    &__body {
      width: 100%;
    }
  }
  .newstags {
    display: none;
  }
}
@media (max-width: $md7) {
  .offers {
    &__title-title {
      padding: 6px 0px 8px;
    }
    &__content-img {
      padding-top: 8px;
      height: 322px;
    }
    &__banner {
      height: 100px;
    }
    &__content-description {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &__tags {
      padding: 10px 0;
    }
  }
  .newstags {
    display: none;
  }
}
@media (max-width: $md8) {
  .offers {
    &__content-img {
      height: 235px;
    }
    &__banner {
      height: 80px;
    }
  }
}
@media (max-width: 520px) {
  .offers {
    &__statics-left {
      flex-direction: column;
      align-items: start;
    }
    .left-statics {
      // .left-statics__date
      &__date {
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      // .left-statics__vies
      &__vies {
      }
    }
  }
}
@media (max-width: $md9) {
  .offers {
    &__content-img {
      height: 185px;
    }
    &__banner {
      height: 75px;
    }
  }
}
// TODO Сделать блок коментариев и
</style>
