<template>
  <div class="comment">
    <div class="comment__container">
      <div class="comment__body">
        <div class="comment__title">Комментарии</div>
        <hr class="comment__line _line" />
        <div v-if="comments.length === 0" class="comment__none">
          Здесь пока нет ни одного комментария, вы можете стать первым!
        </div>
        <div v-else class="comment__content">
          <div class="comment__block">
            <div
              class="comment__user user"
              v-for="(comment, index) in comments"
              :key="comment.id"
            >
              <div class="user__account">
                <a href="#" class="user__avatar">
                  <img src="@/assets/img/svg/user_avatar.jpg" alt="" />
                </a>
                <div class="user__accoun-right">
                  <a href="#" class="user__username">{{ comment.username }}</a>
                  <div class="user__date">
                    Дата:
                    <span>{{ comment.created_date }}</span>
                  </div>
                </div>
              </div>
              <div class="user__comment">
                {{ comment.comment }}
              </div>
              <button
                v-if="
                  comment.telegram_id !== $store.state.auth.user.telegram_id
                "
                class="user__answer"
              >
                Ответить
              </button>
              <button
                v-else
                @click="deleteComment(comment.id, index)"
                class="user__answer"
              >
                Удалить
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="answer__body">
        <div
          class="answer__active"
          v-if="$store.state.auth.credentials.isActive"
        >
          <div class="answer__active-title">Написать комментарий</div>
          <form action="#" method="post" enctype="multipart/form-data">
            <textarea
              v-model.trim="comment"
              class="answer__active-form"
              name="text"
            ></textarea>
          </form>
          <button @click="addComment" class="answer__active-btn">
            Отправить
          </button>
        </div>
        <div v-else class="answer__disable">
          Только полноправные пользователи могут оставлять комментарии. Войдите,
          пожалуйста.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: ['comments'],
  data() {
    return {
      comment: '',
    }
  },
  methods: {
    async addComment() {
      if (this.comment !== '') {
        try {
          const response = await axios.get(
            'http://127.0.0.1:8000/api/v1/add_comment',
            {
              params: {
                post_id: this.$route.params.id,
                comment: this.comment,
              },
            }
          )
          this.comment = ''
          this.$emit('reLoad', response.data)
        } catch (e) {
          console.log(e)
        }
      }
    },
    async deleteComment(commentId, index) {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/v1/delete_comment',
          {
            params: {
              post_id: this.$route.params.id,
              comment_id: commentId,
            },
          }
        )
        this.$emit('deleteComment', index)
        console.log(response.data)
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.comment {
  // .comment__container
  &__container {
    margin-top: 15px;
  }
  // .comment__body
  &__body {
    background-color: $white;
    width: 880px;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 15px 15px 25px 15px;
  }
  // .comment__title
  &__title {
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
  // .comment__line
  &__line {
  }
  // .comment__content
  &__content {
    display: flex;
    flex-direction: column;
  }
  // .comment__block
  &__block {
  }
  // .comment__user
  &__user {
  }
  &__none {
    padding-top: 20px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #808080;
  }
}
.user {
  width: 100%;
  height: 100%;
  background-color: #e7f6ff;
  padding: 12px 15px 8px 15px;
  border-radius: 15px;
  margin-top: 15px;
  // .user__account
  &__account {
    display: flex;
    align-items: center;
    // padding-top: ;
  }
  &__accoun-right {
    margin-left: 10px;
  }
  // .user__avatar
  &__avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .user__username
  &__username {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;
    color: #292929;
  }
  // .user__date
  &__date {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #808080;
  }
  // .user__comment
  &__comment {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 10px;
    padding-left: 45px;
    word-break: break-all;
  }
  // .user__answer
  &__answer {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #808080;
    margin-top: 8px;
    margin-left: 45px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__delete {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #808080;
    margin-top: 8px;
    margin-left: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.answer {
  // .answer__body
  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: $white;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 15px 15px 19px 15px;
  }
  // .answer__active
  &__active {
  }
  // .answer__active-title
  &__active-title {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 15px;
  }
  // .answer__active-form
  &__active-form {
    width: 100%;
    height: 200px;
    resize: none;
    background: #f9f9f9;
    border: 2px solid #d9d9d9;
  }
  // .answer__active-btn
  &__active-btn {
    float: right;
    margin-top: 16px;
    padding: 9px 20px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #000000;
    transition: 0.5s all ease;
    &:hover {
      background: #e7f6ff;
      border: 1px solid #eaeaea;
    }
  }
  &__disable {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #808080;
  }
}

@media (max-width: $md1) {
  .comment {
    &__body {
      width: 780px;
    }
  }
}
@media (max-width: $md2) {
  .comment {
    &__body {
      width: 715px;
    }
  }
  .answer {
    // .answer__body
    &__body {
      width: 715px;
    }
  }
}
@media (max-width: $md3) {
  .comment {
    &__body {
      width: 660px;
    }
  }
  .answer {
    // .answer__body
    &__body {
      width: 660px;
    }
  }
}
@media (max-width: $md4) {
  .comment {
    &__body {
      width: 625px;
    }
  }
  .answer {
    // .answer__body
    &__body {
      width: 625px;
    }
  }
}
@media (max-width: $md5) {
  .comment {
    &__body {
      width: 100%;
    }
  }
  .answer {
    // .answer__body
    &__body {
      width: 100%;
    }
  }
}
</style>
