<template>
  <div class="instructions">
    <div class="instructions__container">
      <div class="instructions__body">
        <div class="instructions__title">{{ title }}</div>
        <hr class="instructions__line _line" />
        <div class="instructions__content">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.instructions {
  // .instructions__container
  &__container {
  }
  // .instructions__body
  &__body {
    background-color: $white;
    width: 880px;
    height: 100%;
    min-height: 500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 15px 15px 25px 15px;
  }
  // .instructions__title
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-bottom: 15px;
  }
  // .instructions__line
  &__line {
  }
  // .instructions__content
  &__content {
    padding-top: 15px;
  }
}
@media (max-width: $md1) {
  .instructions {
    &__body {
      width: 780px;
    }
  }
}
@media (max-width: $md2) {
  .instructions {
    &__body {
      width: 715px;
    }
  }
}
@media (max-width: $md3) {
  .instructions {
    &__body {
      width: 660px;
    }
  }
}
@media (max-width: $md4) {
  .instructions {
    &__body {
      width: 625px;
    }
  }
}
@media (max-width: $md5) {
  .instructions {
    &__body {
      width: 100%;
    }
  }
}
</style>
