<template>
  <div class="account">
    <div class="account__container">
      <div class="account__body">
        <div class="account__username">{{ user.username }}</div>
        <hr class="account__line _line" />
        <div class="account__info info-user">
          <div class="info-user__left">
            <div class="info-user__avatar">
              <img src="@/assets/img/svg/user_avatar.jpg" alt="Изображение" />
            </div>
            <div class="info-user__content">
              <table>
                <tr>
                  <td>Имя</td>
                  <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                  <td>Фамилия</td>
                  <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                  <td>Дата регистрации</td>
                  <td>{{ user.created }}</td>
                </tr>
                <tr>
                  <td>Статус</td>
                  <td>{{ user.status }}</td>
                </tr>
                <tr>
                  <td>Подписка до</td>
                  <td>{{ user.status_end }}</td>
                </tr>
                <tr>
                  <td>Баланс</td>
                  <td>{{ user.balance }}</td>
                </tr>
                <tr>
                  <td>Рейтинг</td>
                  <td>20</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="info-user__button">
            <button class="info-user__balance btn">Пополнить баланс</button>
            <button class="info-user__structura btn">Структура</button>
            <button class="info-user__clons btn">Клоны</button>
            <button @click="$router.push('/add')" class="info-user__clons btn">
              Добавить запись
            </button>
          </div>
        </div>
        <div class="account__statistics statistics-user">
          <div class="statistics-user__title">Статистика</div>
          <hr class="account__line _line" />
          <div class="statistics-user__table">
            <table>
              <tr>
                <th>Публикаций</th>
                <td>{{ user.count.post }}</td>
              </tr>
              <tr>
                <th>Комментариев</th>
                <td>{{ user.count.comment }}</td>
              </tr>
              <tr>
                <th>Активных баннеров</th>
                <td>0</td>
              </tr>
              <tr>
                <th>Приглашенных партнеров</th>
                <td>{{ user.count.partner }}</td>
              </tr>
              <tr>
                <th>Партнеров со статусом VIP</th>
                <td>{{ user.count.vip }}</td>
              </tr>
              <tr>
                <th>Партнеров со статусом Free</th>
                <td>{{ user.count.free }}</td>
              </tr>
              <tr>
                <th>Кол-во клонов</th>
                <td>{{ user.count.clone }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      user: {
        count: {},
      },
    }
  },
  methods: {
    async getAccount() {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/v1/get_account'
        )
        console.log(response.data)
        this.user = response.data
      } catch (e) {
        console.log(e)
      }
    },
  },
  created() {
    this.getAccount()
  },
}
</script>

<style lang="scss" scoped>
// Разобрать с адаптивом
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.account {
  // .account__container
  &__container {
  }
  // .account__body
  &__body {
    background-color: $white;
    width: 880px;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 18px 30px 35px 30px;
  }
  // .account__username
  &__username {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: $black;
    padding-bottom: 18px;
  }
  // .account__line
  &__line {
  }
  // .account__info
  &__info {
    padding-top: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  // .account__statistics
  &__statistics {
  }
}
.btn {
  width: 160px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
  transition: 0.5s all ease;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: #e7f6ff;
    border: 1px solid #eaeaea;
  }
}
.info-user {
  &__left {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  // .info-user__avatar
  &__avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .info-user__content
  &__content {
    margin-left: 40px;
    td {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #292929;
      vertical-align: center;
      text-align: left;
      padding: 10px 55px 10px 0px;
    }
    tr {
      border-bottom: 1px solid #eaeaea;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        border: none;
      }
    }
  }
  // .info-user__button
  &__button {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  // .info-user__balance
  &__balance {
  }
  // .info-user__structura
  &__structura {
  }
  // .info-user__clons
  &__clons {
  }
}
.statistics-user {
  margin-top: 45px;
  // .statistics-user__title
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-bottom: 18px;
  }
  // .statistics-user__table
  &__table {
    margin-top: 10px;
    td {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #000000;
      vertical-align: center;
      text-align: left;
      padding: 10px 55px 10px 0px;
    }
    th {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #000000;
      vertical-align: center;
      text-align: left;
      padding: 10px 55px 10px 0px;
    }
    tr {
      border-bottom: 1px solid #eaeaea;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        border: none;
      }
    }
  }
}
@media (max-width: $md1) {
  .account {
    &__body {
      width: 780px;
    }
  }
  .info-user {
    &__content {
      margin-left: 20px;
      td {
        padding: 10px 40px 10px 0px;
      }
    }
  }
}
@media (max-width: $md2) {
  .account {
    &__body {
      width: 715px;
    }
  }
  .info-user {
    &__left {
      flex-direction: column;
    }
    &__content {
      margin-top: 20px;
      margin-left: 0px;
    }
  }
}
@media (max-width: $md3) {
  .account {
    &__body {
      width: 660px;
    }
  }
}
@media (max-width: $md4) {
  .account {
    &__body {
      width: 625px;
    }
  }
}
@media (max-width: $md5) {
  .account {
    &__body {
      width: 100%;
    }
  }
}
</style>
