<template>
  <div class="slider">
    <div class="slider__container">
      <swiper
        :autoplay="{
          delay: 3000,
        }"
        :slides-per-view="1"
        :pagination="{
          clickable: true,
        }"
        :loop="true"
        :navigation="{
          nextEl: '.slider__btn-right',
          prevEl: '.slider__btn-left',
        }"
      >
        <swiper-slide class="slide">
          <img
            src="@/assets/img/slider/slider-1.jpg"
            alt="slider-img"
            class="slider__img"
          />
        </swiper-slide>
        <swiper-slide class="slide">
          <img
            src="@/assets/img/slider/slider-2.jpg"
            alt="slider-img"
            class="slider__img"
          />
        </swiper-slide>
        <swiper-slide class="slide">
          <img
            src="@/assets/img/slider/slider-3.jpg"
            alt="slider-img"
            class="slider__img"
          />
        </swiper-slide>
        <swiper-slide class="slide">
          <img
            src="@/assets/img/slider/slider-4.jpg"
            alt="slider-img"
            class="slider__img"
          />
        </swiper-slide>
        <swiper-slide class="slide">
          <img
            src="@/assets/img/slider/slider-5.jpg"
            alt="slider-img"
            class="slider__img"
          />
        </swiper-slide>
        <swiper-slide class="slide">
          <img
            src="@/assets/img/slider/slider-6.jpg"
            alt="slider-img"
            class="slider__img"
          />
        </swiper-slide>
      </swiper>
      <button class="slider__btn-left">
        <img
          src="@/assets/img/slider/arrow-left.svg"
          alt="arrow-left"
          class="slider__btn-img"
        />
      </button>
      <button class="slider__btn-right">
        <img
          src="@/assets/img/slider/arrow-right.svg"
          alt="arrow-right"
          class="slider__btn-img"
        />
      </button>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue'
import SwiperCore, { Pagination, Navigation, Autoplay } from 'swiper'
import 'swiper/css'
// import 'swiper/css/navigation'
import 'swiper/css/pagination'
SwiperCore.use([Pagination, Navigation, Autoplay])
export default {
  components: { Swiper, SwiperSlide },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.swiper {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 25px;
  &-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.slider {
  margin-top: 80px;
  margin-bottom: -50px;

  &__container {
    position: relative;
  }
  &__btn-left,
  &__btn-right {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffffff;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      background-color: #bce4fd;
      border: 1px solid rgb(255, 255, 255);
    }
  }
  &__btn-left {
    left: -18px;
    margin-left: 5px;
  }

  // .slider__btn-right
  &__btn-right {
    right: -15px;
  }
}
@media (max-width: $md2) {
  .swiper {
    height: 300px;
  }
}
@media (max-width: $md4) {
  .swiper {
    height: 270px;
  }
}
@media (max-width: $md5) {
  .swiper {
    height: 230px;
  }
}
@media (max-width: $md6) {
  .swiper {
    height: 175px;
  }
}
</style>
