<template>
  <div class="userform">
    <div class="userform__content">
      <div class="userform__body">
        <form @submit.prevent>
          <div v-if="isTelegram" class="userform__telegram">
            <div class="userform__telegram-text">
              Укажите свой Telegram ID на него будет отправлен "Код авторизации"
            </div>
            <!-- <label for="">Telegram ID</label> -->
            <div class="userform__telegram-form">
              <input
                v-model.trim="telegramId"
                type="number"
                class="userform__telegram-input input"
                placeholder="Telegram ID"
              />
              <button @click="sendApi" class="userform__telegram-btn btn">
                Отправить
              </button>
            </div>
            <div v-if="error" class="userform__telegram-error">
              Ошибка:
              <span>{{ error }}</span>
            </div>
          </div>
          <div v-else class="userform__password">
            <!-- <label for="">Код</label> -->
            <div class="userform__password-text">
              На Ваш аккаунт Telegram был отправлен код авторизации
            </div>
            <div class="userform__password-form">
              <input
                v-model="codeAuth"
                type="text"
                class="userform__password-input input"
                placeholder="Код авторизации"
              />
              <button @click="codeSend" class="userform__password-btn btn">
                Войти
              </button>
              <div v-if="error" class="userform__telegram-error">
                Ошибка:
                <span>{{ error }}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      isTelegram: true,
      telegramId: '',
      codeAuth: '',
      codeAuthBack: '',
      error: '',
    }
  },
  methods: {
    setAuth(pyload) {
      if (pyload.success) {
        this.isTelegram = false
        this.codeAuthBack = pyload.code
        this.error = ''
      } else {
        this.error = pyload.error
      }
    },
    auth(pyload) {
      localStorage.setItem('token', pyload.token)
      window.location.reload()
    },
    codeSend() {
      if (this.codeAuth != this.codeAuthBack) {
        this.error = 'Вы ввели не правильный код авторизации'
      } else {
        this.error = ''
        this.sendFinished()
      }
    },
    async sendApi() {
      if (this.telegramId !== '' && !Number.isNaN(this.telegramId)) {
        try {
          const response = await axios.get(
            'http://127.0.0.1:8000/api/m2m/auth/telegram',
            {
              params: {
                telegram_id: this.telegramId,
              },
            }
          )
          this.setAuth(response.data)
        } catch (e) {
          console.log(e)
        }
      }
    },
    async sendFinished() {
      try {
        const response = await axios.get(
          'http://127.0.0.1:8000/api/m2m/auth/finished',
          {
            params: {
              code_auth: this.codeAuthBack,
            },
          }
        )
        this.auth(response.data)
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/vars.scss';
.userform {
  // .userform__content
  &__content {
  }
  // .userform__body
  &__body {
  }
  // .userform__telegram
  &__telegram {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
  }
  // .userform__telegram-input
  &__telegram-input {
    -moz-appearance: textfield;
  }
  // .userform__telegram-text
  &__telegram-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $black;
    margin-bottom: 20px;
  }
  // .userform__telegram-erorr
  &__telegram-error {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $red;
  }
  // .userform__telegram-btn
  &__telegram-btn {
  }
  // .userform__password
  &__password {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
  }
  &__password-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $black;
    margin-bottom: 20px;
  }
  // .userform__password-input
  &__password-input {
  }
  // .userform__password-btn
  &__password-btn {
  }
}
.input {
  max-width: 280px;
  height: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #c0c0c0;
  margin-right: 15px;
}
.btn {
  width: 130px;
  height: 50px;
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.02em;
  &:hover {
    background: #e7f6ff;
    border: 1px solid #eaeaea;
  }
}
</style>
