<template>
  <div class="app">
    <component :is="layout">
      <router-view></router-view>
    </component>
  </div>
</template>

<script>
import DefaultLayout from './layouts/DefaultLayout.vue'
import MainLayout from './layouts/MainLayout.vue'
import { mapActions, mapMutations } from 'vuex'
export default {
  computed: {
    layout() {
      return this.$route.meta.layout || 'DefaultLayout'
    },
  },
  components: {
    DefaultLayout,
    MainLayout,
  },
  methods: {
    ...mapMutations({
      setActive: 'auth/setActive',
      setPage: 'page/setPage',
    }),
    ...mapActions({
      fetchAuthCheck: 'auth/fetchAuthCheck',
      fetchPage: 'page/fetchPage',
    }),
  },
  created() {
    this.fetchAuthCheck()
    this.fetchPage()
  },
}
</script>

<style lang="scss">
@import 'assets/helpers/style.scss';
</style>
