<template>
  <section>
    <nav-bar></nav-bar>
    <div class="_container">
      <div class="_content">
        <slot />
        <news-tags></news-tags>
      </div>
    </div>
    <footer-main></footer-main>
  </section>
</template>

<script>
import NavBar from '@/components/NavBar'
import FooterMain from '@/components/FooterMain'
import NewsTags from '@/components/NewsTags'
export default {
  name: 'DefaultLayout',
  components: {
    NavBar,
    NewsTags,
    FooterMain,
  },
}
</script>

<style></style>
