<template>
  <section>
    <nav-bar></nav-bar>
    <div class="_container">
      <slot />
    </div>
    <footer-main></footer-main>
  </section>
</template>

<script>
import NavBar from '@/components/NavBar'
import FooterMain from '@/components/FooterMain'
export default {
  name: 'DefaultLayout',
  components: {
    NavBar,
    FooterMain,
  },
}
</script>

<style></style>
