<template>
  <quill-editor
    ref="editors"
    v-model:content="someText"
    :value="modelValue"
    class="editor"
    :options="options"
    @update:content="updateInput"
  ></quill-editor>
</template>

<script>
import { QuillEditor } from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css'
import '@vueup/vue-quill/dist/vue-quill.bubble.css'
export default {
  name: 'my-form',
  components: {
    QuillEditor,
  },
  data() {
    return {
      someText: '',
      options: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['link'],
            [{ list: 'ordered' }, { list: 'bullet' }, { align: [] }],
            [{ script: 'sub' }, { script: 'super' }],
            ['clean'],
          ],
        },
        theme: 'snow',
      },
    }
  },
  props: {
    modelValue: [String, Number],
  },
  methods: {
    updateInput() {
      this.$emit('update:modelValue', this.editor.getHTML())
    },
  },
  computed: {
    editor() {
      return this.$refs.editors
    },
  },
}
</script>

<style>
.editor {
  max-width: 100%;
}
</style>
